.despl{
  width: 60vh;
  max-height: 100%;
  margin-bottom: 15vh;
}

.despl-paginas{
  background-color: #2c2733;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  font-size: larger;
}
.opc-pag{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0px;
  padding: 8px 0px;
  border-radius: 20px;
  transition-duration: 0.3s;
  cursor: default;
}

.opc-pag:hover{
  background-color: #211d26;
  transition-duration: 0.3s;
}

.icon{
  width: 25px;
  margin: 0px 10px;
}

.biblioteca{
  margin-top: 10px;
  height: 45vh;
  background-color: #2c2733;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  font-size: larger;
}

.biblioteca h3{
  margin: 0;
}
.bibl-top{
  display: flex;
  flex-direction: row;
}

.playlists a {
  text-decoration: none;
  color: white;
  font-size: medium;
}

.playlists {
  overflow-x: auto;
  scrollbar-width: none; /* Oculta el scrollbar en navegadores compatibles */
  margin-top: 10px;
}

.playlists::-webkit-scrollbar {
  display: none; /* Oculta el scrollbar en navegadores webkit */
}

.playlist-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 8px;
  transition-duration: 0.3s;
  border-radius: 10px;
}

.playlist-item:hover{
  background-color: #211d26;
  transition-duration: 0.3s;
}

.img-list{
  width: 30px;
  height: auto; /* Permite que la altura de la imagen se ajuste automáticamente */
  max-width: 100%; /* Limita la anchura de la imagen al 100% del contenedor */
  aspect-ratio: 1 / 1; /* Esto mantiene la relación de aspecto 1:1 */
  object-fit: cover;
  margin-right: 15px;

}
