<div>
  <h2>Registro</h2>
  <form (ngSubmit)="register(registroData)">
    <input type="text" [(ngModel)]="registroData.username" name="username" placeholder="Nombre de usuario">
    <input type="password" [(ngModel)]="registroData.password" name="password" placeholder="Contraseña">
    <button type="submit">Registrarse</button>
  </form>
</div>

<div>
  <h2>Iniciar sesión</h2>
  <form (ngSubmit)="login(loginData)">
    <!-- Campos de entrada para iniciar sesión -->
    <input type="text" [(ngModel)]="loginData.username" name="username" placeholder="Nombre de usuario">
    <input type="password" [(ngModel)]="loginData.password" name="password" placeholder="Contraseña">
    <button type="submit">Iniciar sesión</button>
  </form>
</div>
