<div class="non-listen">
<app-lateral></app-lateral>

  <div class="page">
    <div class="portada">
      <h1>{{albumData.titulo}}</h1>
      <img class="img-album" [src]="albumData.urlImagen">
      <div class="info-artists">
        <ng-container *ngFor="let artista of artistas; let last = last">
          <div class="artist-cont">
            <img [src]="artista.urlImagen" class="artist-image">
            <h4 [routerLink]="['/artista', artista.id]">{{ artista.nombre }}</h4>
          </div>
        </ng-container>
      </div>
  </div>
    <div class="canciones">
      <h3>Canciones</h3>
      <div *ngFor="let cancion of canciones">
        <div class="song-container">
          <p><strong>{{ cancion.titulo }}</strong></p>
          <div class="song-duration">
            <p>{{ convertirSegundosAMinutos(cancion.duracion) }}</p>
            <div class="song-buttons">
              <img src="assets/images/play.png" class="icon" (click)="sendSong(cancion)">
              <img src="assets/images/settings.png" class="icon" (click)="openPlaylistDropdown(cancion.id)">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Superposición -->
    <div *ngIf="showDropdown" class="overlay" (click)="closePlaylistDropdown()"></div>

    <!-- Dropdown de la playlist -->
    <div *ngIf="showDropdown" class="playlist-dropdown">
      <h3>Agregar a Playlist</h3>
      <select (change)="onPlaylistSelected($event)">
        <option value="" disabled selected>Selecciona una playlist</option>
        <option *ngFor="let playlist of playlists" [value]="playlist.id">{{ playlist.titulo }}</option>
      </select>
      <input [(ngModel)]="newPlaylistTitle" placeholder="Nombre de la nueva Playlist">
      <input [(ngModel)]="newPlaylistImage" placeholder="Imagen de la nueva Playlist">
      <button (click)="createAndAddToNewPlaylist()">Crear nueva Playlist</button>
      <button (click)="closePlaylistDropdown()">Cerrar</button>
    </div>

  </div>
</div>
