.non-listen{
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.page{
  width: 100%;
  max-height: 100%;
  overflow-y: auto; /* Agregar scroll vertical si es necesario */
  background: linear-gradient(to bottom, #623c6c, #2c2733);
  border-radius: 20px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 5vh;
}

.img-album{
  width: 350px;
}

.info-artists{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.artist-cont{
  display: flex;
  flex-direction: row;
}

.artist-image{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 15px;
  margin-top: 5px;
}

.canciones{
  width: 400px;
}

.song-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #2c2733;
  padding: 0 20px;
  justify-content: space-between;
  font-size: small;
  align-items: center;
}

.song-container a{
  text-decoration: none;
  color: #cccccc;
  font-size: smaller;
  margin-top: -30px;
}

.song-duration{
  min-width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.icon{
  width: 10px;
  height: 10px;
}
