<h1>Administración de SoundSphere</h1>
<div>
  <button routerLink="/admin/album">Álbumes</button>
  <button routerLink="/admin/artista">Artistas</button>
  <button routerLink="/admin/cancion">Canciones</button>
  <button routerLink="/admin/usuario">Usuarios</button>
  <button routerLink="/admin/albumArtista">AlbumArtista</button>
  <button routerLink="/admin/cancionArtista">CancionArtista</button>
  <button routerLink="/admin/comentario">Comentario</button>
  <button routerLink="/admin/evento">Evento</button>
  <button routerLink="/admin/eventoArtista">EventoArtista</button>
  <button routerLink="/admin/follow">Follow</button>
  <button routerLink="/admin/genero">Género</button>
  <button routerLink="/admin/generoArtista">GéneroArtista</button>
  <button routerLink="/admin/generoCancion">GéneroCancion</button>
  <button routerLink="/admin/likes">Likes</button>
  <button routerLink="/admin/lista">Lista</button>
  <button routerLink="/admin/listaCancion">ListaCanción</button>
  <button routerLink="/admin/login">Login</button>
  <button routerLink="/admin/reproduccion">Reproducción</button>
  <button routerLink="/admin/shares">Shares</button>
  <button routerLink="/admin/tokens">Tokens</button>
  <button routerLink="/admin/usuario">Usuario</button>
  <button routerLink="/admin/usuarioLista">UsuarioLista</button>
</div>
