<div class="non-listen">
  <app-lateral></app-lateral>

  <div class="page">

    <div class="artist-header">
      <img class="img-artista" [src]="artista.urlImagen">
      <p class="nombre-artista"><b>{{artista.nombre}}</b></p>
    </div>

    <div class="popular-songs">
      <h1>Canciones populares</h1>
        <div *ngFor="let cancion of canciones.slice(0, 5); let i = index">
          <div class="song-container">
            <div class="song-title">
            <p>{{ i + 1 }}</p>
            <img class="img-song" [src]="cancion.urlImagenAlbum">
            <p><strong>{{ cancion.titulo }}</strong></p>
            </div>
            <div class="song-details">
              <p class="reproducciones">{{ cancion.reproducciones }}</p>
              <div class="song-duration">
                <p>{{ convertirSegundosAMinutos(cancion.duracion) }}</p>
                <div class="song-buttons">
                  <img src="assets/images/play.png" class="icon" (click)="sendSong(cancion)">
                  <img src="assets/images/settings.png" (click)="openAddPlaylistDropdown(cancion.id)" class="icon">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="discography">
      <h1>Discografía de {{artista.nombre}}</h1>
      <div class="album-grid" [style.gridTemplateColumns]="'repeat(auto-fill, minmax(200px, 1fr))'">
        <div class="album" *ngFor="let album of albumes">
          <!-- Mostrar los detalles del álbum aquí -->
          <img [src]="album.urlImagen" class="img-album">
          <p><b><a [routerLink]="['/album', album.id]">{{ album.titulo }}</a></b></p>
          <p>{{album.fechaPublicacion}}</p>
        </div>
      </div>
    </div>

    <div class="eventos">
      <h1>Próximos eventos de {{artista.nombre}}</h1>
      <div class="event-grid">
        <div class="event-card" *ngFor="let evento of eventos">
          <h4>{{evento.fecha | date: 'dd/MM/yyyy' }}</h4>
          <h2>{{evento.titulo}}</h2>
          <p>{{evento.descripcion}}</p>
        </div>
      </div>
    </div>

    <div class="artist-info">
      <h1>{{artista.nombre}}</h1>
      <p>{{artista.biografia}}</p>
    </div>

    <!-- Superposición -->
    <div *ngIf="showAddDropdown" class="overlay" (click)="closeAddPlaylistDropdown()"></div>

    <!-- Dropdown de la playlist -->
    <div *ngIf="showAddDropdown" class="playlist-dropdown">
      <h3>Agregar a Playlist</h3>
      <select (change)="onPlaylistSelected($event)">
        <option value="" disabled selected>Selecciona una playlist</option>
        <option *ngFor="let playlist of playlists" [value]="playlist.id">{{ playlist.titulo }}</option>
      </select>
      <input [(ngModel)]="newPlaylistTitle" placeholder="Nombre de la nueva Playlist">
      <input [(ngModel)]="newPlaylistImage" placeholder="Imagen de la nueva Playlist">
      <button (click)="createAndAddToNewPlaylist()">Crear nueva Playlist</button>
      <button (click)="closeAddPlaylistDropdown()">Cerrar</button>
    </div>
  </div>
</div>
