.non-listen{
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.page{
  width: 100%;
  max-height: 100%;
  overflow-y: auto; /* Agregar scroll vertical si es necesario */
  background: linear-gradient(to bottom, #623c6c, #2c2733);
  border-radius: 20px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
  overflow-x: hidden;
  scrollbar-width: none;
}

.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.img-profile{
  width: 200px;
  height: auto;
  max-width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 100%;
}

.btn-follow{
  background-color: transparent;
  border: 2px solid #623c6c;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  color: white;
  margin-top: -15px;
}

.btn-following{
  background-color: #a25fb4;
  border: 2px solid #623c6c;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  color: white;
  margin-top: -15px;
}

.btn-edit-profile{
  background-color: #a25fb4;
  border: 2px solid #623c6c;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  color: white;
  margin-top: -15px;
}

.btn-logout{
  background-color: #8d4040;
  border: 2px solid #6c3c3c;
  padding: 5px 10px;
  font-size: 11px;
  cursor: pointer;
  color: white;
  margin-top: 5px;
}

.artista-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px; /* Espacio entre las columnas */
}

.artista {
  border: 1px solid #ccc; /* Borde para cada artista */
  padding: 10px; /* Espacio interno para contenido */
}

.img-artista {
  width: 100%;
  height: auto; /* Permite que la altura de la imagen se ajuste automáticamente */
  max-width: 100%; /* Limita la anchura de la imagen al 100% del contenedor */
  aspect-ratio: 1 / 1; /* Esto mantiene la relación de aspecto 1:1 */
  object-fit: cover; /* Recorta la imagen para que se ajuste al contenedor */
}

.fav-artista{
  margin: 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artist-link{
  color: white;
  text-decoration: none;
}

.playlists {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lista-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  gap: 20px;
  width: 100%;
  max-width: 800px;
}

.lista {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px #2c2733;
  border-radius: 8px;
  background-color: rgb(72, 66, 78);
}

.img-lista {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;
}

.artist-link {
  text-decoration: none;
  color: inherit;
}

.lista p {
  margin: 0;
}

.canciones{
  width: 450px;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.song-container{
  display: flex;
  min-width: 60vh;
  flex-direction: row;
  background-color: rgb(44, 39, 51);
  margin-top: 10px;
  margin-left: 30px;
  border-radius: 15px;
  padding: 20px;
  justify-content: space-between;
  font-size: small;
  align-items: center;
  text-align: left;
}


.song-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 60%;
  gap: 10px;
}

.song-container a{
  text-decoration: none;
  color: #cccccc;
  font-size: smaller;
  margin-top: -30px;
}

.song-duration{
  min-width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.icon{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.img-album-song{
  width: 70px;
}
.song-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.song-title{
  margin-bottom: -10px;
}

.last-songs{
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Superposición */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Color de fondo oscuro con transparencia */
  z-index: 999; /* Asegura que la superposición esté por encima de otros elementos */
}

/* Dropdown de la playlist */
.playlist-dropdown {
  position: fixed; /* Cambia a fixed para que se posicione respecto a la ventana */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to bottom, #623c6c, #2c2733);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Asegura que el dropdown esté por encima de la superposición */
  border-radius: 8px;
  width: 300px; /* Ajusta el ancho según sea necesario */
  color: white;
}

.playlist-dropdown input,
.playlist-dropdown button {
  width: calc(100% - 20px); /* Añade un pequeño margen interno */
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.playlist-dropdown select {
  width: 100%; /* Asegura que el select tenga el mismo ancho que los otros elementos */
  margin-bottom: 10px; /* Añade un margen inferior */
  padding: 8px; /* Añade relleno */
  border-radius: 4px; /* Aplica un borde redondeado */
  border: 1px solid #ccc; /* Añade un borde */
}

.playlist-dropdown button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.playlist-dropdown button:last-child {
  background-color: #dc3545; /* Rojo para el botón de cerrar */
}
