<div class="non-listen">
  <app-lateral></app-lateral>

  <div class="content">

    <div class="novedades">
      <h2>Novedades</h2>
      <div class="album-grid">
        <div class="album" *ngFor="let album of novedades.slice(0, showAll ? novedades.length : 4)">
          <!-- Mostrar los detalles del álbum aquí -->
          <img [src]="album.urlImagen" class="img-album">
          <p><b><a [routerLink]="['/album', album.id]">{{ album.titulo }}</a></b></p>
          <p>
            <!-- Usar un ngFor para mostrar los nombres de los artistas -->
            <ng-container *ngFor="let artista of album.artistas; let last = last">
              <a [routerLink]="['/artista', artista.id]">{{ artista.nombre }}</a>{{ !last ? ', ' : '' }}
            </ng-container>
          </p>
        </div>
      </div>
      <p class="show-more" (click)="showAll = !showAll" *ngIf="novedades.length > 4">{{ showAll ? 'Ver menos' : 'Ver más' }}</p>
    </div>

    <div class="fav-artista">
      <h2>Tus Artistas Favoritos</h2>
      <div class="artista-grid" [style.gridTemplateColumns]="'repeat(auto-fill, minmax(200px, 1fr))'">
        <div class="artista" *ngFor="let artista of artistasFav.slice(0, showAll ? novedades.length : 4)">
          <!-- Mostrar la imagen del artista aquí -->
          <img [src]="artista.urlImagen" class="img-artista">
          <p><b><a [routerLink]="['/artista', artista.id]">{{ artista.nombre }}</a></b></p>
        </div>
      </div>
      <p class="show-more" (click)="showAll = !showAll" *ngIf="novedades.length > 4">{{ showAll ? 'Ver menos' : 'Ver más' }}</p>
    </div>

    <div class="listas">
      <h2>Listas de éxitos</h2>
    </div>
  </div>
</div>

<>
