.non-listen{
  height: 90vh;
  display: flex;
  flex-direction: row;
}

.content{
  width: 69%;
  max-height: 100%;
  overflow-y: auto; /* Agregar scroll vertical si es necesario */
  margin-left: 1%;
  background: linear-gradient(to bottom, #623c6c, #2c2733);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 5vh;
  overflow-x: hidden;
  scrollbar-width: none;
}
.album-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px; /* Espacio entre las columnas */

}
.album {
  border: 1px solid #ccc; /* Borde para cada álbum */
  padding: 10px; /* Espacio interno para contenido */
}

.img-album {
  width: 100%; /* Para asegurar que la imagen se ajuste al tamaño del contenedor */
}

.hidden {
  display: none;
}

a{
  text-decoration: none;
  color: white;
  transition-duration: 0.3s;
}
a:hover{
  transition-duration: 0.3s;
  color: #c2c2c2;
}

.artista-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px; /* Espacio entre las columnas */
}

.artista {
  border: 1px solid #ccc; /* Borde para cada artista */
  padding: 10px; /* Espacio interno para contenido */
}

.img-artista {
  width: 100%;
  height: auto; /* Permite que la altura de la imagen se ajuste automáticamente */
  max-width: 100%; /* Limita la anchura de la imagen al 100% del contenedor */
  aspect-ratio: 1 / 1; /* Esto mantiene la relación de aspecto 1:1 */
  object-fit: cover; /* Recorta la imagen para que se ajuste al contenedor */
}

.show-more{
  font-size: smaller;
  color: white;
  transition-duration: 0.3s;
  cursor: pointer;
}

.show-more:hover{
  color: #c2c2c2;
  transition-duration: 0.3s;
}

.lista-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  gap: 20px;
  width: 100%;
  max-width: 800px;
}

.lista {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px #2c2733;
  border-radius: 8px;
  background-color: rgb(44, 39, 51);
}

.img-lista {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;
}

.artist-link {
  text-decoration: none;
  color: inherit;
}

.lista p {
  margin: 0;
}

.profile-link {
  text-decoration: none;
  color: inherit;
  font-size: 12px;
}
